.link {
  text-decoration: none;
  display: inline-block;

  &__card {
    text-decoration: none;
    vertical-align: top;
    border-radius: 8px;
    background-color: black;
    text-align: center;
    margin: 0 10px;
    padding-top: 10px;
    height: 280px;
    @media (min-width: 1200px) {
      margin: 0 30px;
    }

    &--img {
      height: 220px;
    }

    &--title {
      text-decoration: none;
      color: white;
      font-family: "Neucha", cursive;
      font-size: 14px;
      font-weight: 500;
    }

    &--span {
      color: white;
      font-family: "Neucha", cursive;
      font-size: 12px;
      text-transform: capitalize;
    }
  }
}
